
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    min-height: 200px;
    font-size: 25px;
    width: 100%;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  
    flex-direction: column;
    box-shadow: 1px 1px 1px grey;
}

.book-search--filters, .book-search--search {
    padding: 0.25em;
    display: flex;
    line-height:25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.book-search--filters {
    background: lightgrey;
}

.book-search--search {
    background: darkgrey;
}


.book-search--filters *, .book-search--search * {
    margin: 0 5px;
}

.book-wrapper {
    text-align: center;
    border: 1px solid lightgrey;
}
.book-container {
    display: flex;
}

.book-container--description {
    flex-grow: 2;
    padding: 20px;
}
.book-container--description h2 {
    margin: 0 auto;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}


.book-container--image  {
    height: 80%;
    padding: 20px;
}

.book-container--image img {
    height: 100%;
}

.errorText{
    color: darkgrey;
    margin: 0 auto;

}

.errorImg {
    height: 50px;
    width: auto;
}